@font-face
{
    font-family:icomoon;src:url(../fonts/icomoon/icomoon.eot?1z9v6x);src:url(../fonts/icomoon/icomoon.eot?1z9v6x#iefix) format("embedded-opentype"),url(../fonts/icomoon/icomoon.ttf?1z9v6x) format("truetype"),url(../fonts/icomoon/icomoon.woff?1z9v6x) format("woff"),url(../fonts/icomoon/icomoon.svg?1z9v6x#icomoon) format("svg");font-weight:400;font-style:normal
}

html
{
    overflow-x:hidden;font-size:1em
}

body
{
    font-family: 'Nunito Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #555;
    background:#fff;font-size:18px;font-weight:300;line-height:1.8;
}


body p
{
    font-size: 20px;
    font-weight: 520;
}

.row-margin
{
    margin-bottom: 10px!important;
}

.gallery-title
{
    background-color: transparent;color: #CABAAD!important;
}

.gallery-intro
{
    background-size:cover;background-repeat:no-repeat;position:relative;top:0;height:50vh!important;overflow:hidden;
}

.gallery-heading
{
    position:relative;text-align: center; width:100%; margin-top: 18%!important;
}

.gallery_row
{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery_column
{
    padding: 0 4px;
}

.gallery_column img
{
    margin-top: 8px;
    vertical-align: middle;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 90%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 90%;
    z-index: 1001;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 90%){
    .modal-content {
        width: 100%;
    }
}

.ness-container
{
    margin-top: -18%;
    overflow: hidden;
}

.thumbnail img
{
    min-height: 400px;
    min-width: 100%;
    overflow:auto;
}

.modal-images
{
    max-height: 400px!important;
    border-radius: 5px;
    cursor: pointer!important;
    transition: 0.3s!important;
    z-index: 1001;
    flex:auto;
}

.modal-images:hover {opacity: 0.7!important;}

.video-wrapper
{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe 
{
    display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 70%;
    margin-left: 15.5%;
}

.project-title
{
    background-color: transparent;color: #7B181E!important;
}

.projects-intro
{
    background-size:cover;background-repeat:no-repeat;position:relative;top:0;height:50vh!important;overflow:hidden;
}

.project-heading
{
    position:relative;text-align: center; width:100%; margin-top: 18%!important;
}

.doc-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #e9e9e9; /*#f9f9f9;*/
  border-top: 1px solid #e5e5e5;
  margin-top: 25px;
  margin-left: -25px;
  margin-right: -25px;
}

.contactinfo
{
    font-size: 74%;
    line-height: 1.3;
    text-align: center;
    margin-top: 5%;
}

.resumebox {
	border: #b4b4b4 solid thin;
}

.resumetext {
	font-size: 65%;
	line-height: 1.3;
	text-align: center;
	padding-top: 1em;
}

.main-text
{
    padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto; padding-top: 30px;
}

.justifytext
{
    text-align: justify;
}

#loader-wrapper 
{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #222;
   z-index: 1000;
}

#loader
{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    background-image: url("../img/logo_website.png");
    background-position: center center;
    background-size: cover;
    z-index: 1001;
}

#loader-wrapper .loader-section
{
   position: fixed;
   top: 0;
   left: 0;
   width: 51%;
   height: 100%;
   background: #222;
   z-index: 1000;
}

#loader-wrapper .loader-seciton.section-left
{
    left:0;
}

#loader-wrapper .loader-seciton.section-left
{
    right:0;
}

.loaded #loader-wrapper .loader-section.section-left
{
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.6s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.6s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right
{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.6s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.6s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader 
{
    opacity: 0;
    
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper
{
    visibility: hidden;
    
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    
    -webkit-transition: all 0.3s 0.9s ease-out;
    transition: all 0.3s 0.9s ease-out;
}

.heading-with-icon,.website-logo,h1,h2,h3,h4
{
    font-family:Rubik,sans-serif
}

::selection
{
	background:#000;color:#fff
}

::-moz-selection
{
	background:#000;color:#fff
}

.heading-with-icon,h1,h2,h3,h4
{
	margin:1.414em 0 .5em;font-weight:400;line-height:1.2;color:#000
}

h1
{
	margin-top:0;font-size:3.998em
}

@media screen and (max-width:768px)
{
	h1
{
	font-size:2.998em
}


}

.heading-with-icon,h2
{
	font-size:2.827em
}

@media screen and (max-width:768px)
{
	.heading-with-icon,h2
{
	font-size:2.1em
}

}

h3
{
	font-size:1.999em
}

h4
{
	font-size:1.414em
}

.font_small,small
{
	font-size:.707em
}

figure,ol,p,ul
{
	margin-bottom:1.3em
}

a
{
	-webkit-transition:.3s all;transition:.3s all;color:#96c7f5
}

a:active,a:focus,a:hover
{
	color:#000;text-decoration:none
}

a.hover-reverse
{
	color:#000
}

a.hover-reverse:active,a.hover-reverse:focus,a.hover-reverse:hover
{
	color:#96c7f5;text-decoration:none
}

.website-header
{
	padding-top:30px;padding-bottom:30px;width:100%;z-index:4;position:absolute;background:rgba(0,0,0,.15);-webkit-transition:.8s all ease-out;transition:.8s all ease-out
}

.website-header:active,.website-header:focus,.website-header:hover
{
	background:rgba(0,0,0,.55)
}

.website-logo
{
	float:left;color:#fff;padding-left:60px;font-size:20px;display:block;text-transform:uppercase;font-weight:700
}

.website-logo:active,.website-logo:focus,.website-logo:hover
{
	color:#fff
}

@media screen and (max-width:768px)
{
	.website-logo
{
	padding-left:0
}


}

.website-nav
{
	margin-left:60px;text-align:left;float:left
}

.website-mobile-menu-active .website-nav
{
	text-align:left;position:fixed;display:block!important;overflow-y:auto;top:0;right:0;bottom:0;z-index:1100;height:100vh;width:300px;background:#000;padding:40px;-webkit-transition:.3s all ease-out;transition:.3s all ease-out;-webkit-transform:translateX(300px);transform:translateX(300px)
}

.website-mobile-menu-active .website-nav .extra-text
{
	display:block;float:left;clear:both;margin-top:30px;color:#fff
}

.website-mobile-menu-active .website-nav .extra-text .social-buttons
{
	padding:0;margin:0 0 20px
}

.website-mobile-menu-active .website-nav .extra-text .social-buttons li
{
	display:inline-block;zoom:1;padding:0;margin:0
}

.website-mobile-menu-active .website-nav .extra-text .social-buttons li a
{
	color:#fff;padding:10px
}

.website-mobile-menu-active .website-nav .extra-text .social-buttons li:first-child a
{
	padding-left:0
}

.website-mobile-menu-active .website-nav .extra-text h5
{
	text-transform:uppercase;letter-spacing:.1em;color:rgba(255,255,255,.5)
}

.website-mobile-menu-active.show .website-nav
{
	-webkit-transform:translateX(0);transform:translateX(0)
}

.website-main-nav
{
	margin:0;padding:0
}

.website-mobile-menu-active .website-main-nav
{
	float:left;margin-top:40px;width:100%
}

.website-main-nav li
{
	margin:0;padding:0 10px;list-style:none;display:inline;font-size:18px
}

.website-mobile-menu-active .website-main-nav li
{
	margin-bottom:10px;padding-left:0;padding-right:0;display:block
}

.website-main-nav li a
{
	text-transform:uppercase;padding:10px 0;color:#fff;font-size:14px;letter-spacing:.2em;border-bottom:2px solid transparent
}

.website-main-nav li a:hover
{
	border-bottom:2px solid #fff
}

.website-mobile-menu-active .website-main-nav li a
{
	margin-bottom:10px;padding:5px 0;display:block;border-bottom:none!important
}

.website-mobile-menu-active .website-main-nav li a:hover
{
	color:#96c7f5
}

.website-main-nav li.website-cta
{
	margin-left:20px
}

.website-main-nav li.website-cta a
{
	border:2px solid #fff;padding-right:20px;padding-left:20px;border-radius:4px
}

.website-main-nav li.website-cta a:hover
{
	background:#fff;color:#96c7f5
}

.website-mobile-menu-active .website-main-nav li.website-cta
{
	margin-left:0;margin-top:20px
}

.website-mobile-menu-active .website-main-nav li.website-cta a
{
	padding-top:2px;padding-bottom:2px
}

.website-main-nav li.active a,.website-main-nav li.active a:hover
{
	border-bottom:2px solid #fff
}

.website-mobile-menu-active .website-main-nav li.active a
{
	border-bottom:none!important;color:#96c7f5
}

.website-header-social
{
	position:absolute;top:34px;right:60px
}

.website-header-social li
{
	display:inline;list-style:none;margin-left:5px
}

.website-header-social li a
{
	color:#fff
}

.mobile-menu-overlay
{
	z-index:1099;position:fixed;top:0;bottom:0;left:0;right:0;width:100vw;height:100vh;background:rgba(0,0,0,.3);opacity:0;visibility:hidden;-webkit-transition:.3s all ease-out;transition:.3s all ease-out
}

.website-mobile-menu-active.show .mobile-menu-overlay
{
	opacity:1;visibility:visible
}

.website-intro
{
	background-size:cover;background-repeat:no-repeat;position:relative;top:0;height:100vh;overflow:hidden
}

.website-intro.website-intro-inner
{
	height:500px
}

.website-intro .website-scroll-down
{
	position:absolute;z-index:1;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);-webkit-transition:.9s all ease-out;transition:.9s all ease-out;bottom:20px;color:#fff;opacity:1;visibility:visible
}

.website-intro .website-scroll-down.website-sleep
{
	bottom:-50px;opacity:0;visibility:hidden
}

.website-intro .website-intro-text
{
	margin-top:300px
}

@media screen and (max-width:768px)
{
	.website-intro
{
	background-position:center center
}

.website-intro .website-intro-text
{
	height:inherit!important;margin-top:100px;padding-left:15px;padding-right:15px
}


}

.website-intro.website-intro-inner .website-intro-text
{
	margin-top:190px
}

.website-intro:before
{
	z-index:1;position:absolute;display:none;top:0;left:0;right:0;bottom:0;content:"";background:#ddf0f3;background:-webkit-gradient(linear,left top,right top,from(#ddf0f3),to(#96c7f5));background:linear-gradient(to right,#ddf0f3 0,#96c7f5 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr=$firstcolor, endColorstr=$secondcolor, GradientType=1 );opacity:.8
}

.website-intro>.container,.website-intro>.container-fluid
{
	position:relative;z-index:3
}

.website-intro h1
{
	font-size:120px;text-transform:uppercase;color:#000;font-weight:900;line-height:100px;margin-bottom:0
}

.website-intro h1 span
{
	font-weight:300;display:block
}

@media screen and (max-width:768px)
{
	.website-intro.website-intro-inner .website-intro-text
{
	margin-top:150px
}

.website-intro
{
	height:inherit!important;padding:7em 0
}

.website-intro h1
{
	font-size:60px;line-height:60px
}


}

.website-intro .website-subtitle
{
	max-width:700px
}

.website-intro .website-subtitle .heading-with-icon,.website-intro .website-subtitle h2
{
	margin-top:0;color:rgba(0,0,0,.9);font-weight:300;font-family:Inconsolata,monospace;letter-spacing:.1em;text-transform:uppercase;position:relative;padding-bottom:10px
}

.website-intro .website-subtitle .heading-with-icon:before,.website-intro .website-subtitle h2:before
{
	content:"";position:absolute;bottom:0;left:0;width:50px;height:2px;background:#96c7f5
}

.website-intro .website-subtitle .heading-with-icon a,.website-intro .website-subtitle h2 a
{
	color:#000
}

.website-intro .website-subtitle .heading-with-icon a:hover,.website-intro .website-subtitle h2 a:hover
{
	color:rgba(0,0,0,.7)
}

.website-intro.website-intro-inner h1
{
	font-size:100px;line-height:100px
}

@media screen and (max-width:768px)
{
	.website-intro.website-intro-inner h1
{
	font-size:50px;line-height:50px
}


}

.website-intro.website-intro-inner .heading-with-icon,.website-intro.website-intro-inner h2
{
	font-size:30px
}

.website-watch-intro
{
	font-size:23px;font-weight:300
}

.website-watch-intro a i
{
	position:relative;top:2px;-webkit-transition:.3s all;transition:.3s all
}

.website-watch-intro a:hover i
{
	margin-left:20px
}

.website-burger-menu
{
	display:inline-block;width:18px;height:18px;cursor:pointer;text-decoration:none
}

.website-burger-menu i
{
	position:relative;display:inline-block;width:18px;height:2px;color:#fff;font:700 14px/.4 Helvetica,arial;text-transform:uppercase;text-indent:-55px;background:#fff;-webkit-transition:all .2s ease-out;transition:all .2s ease-out
}

.website-burger-menu i::after,.website-burger-menu i::before
{
	content:'';width:18px;height:2px;background:#fff;position:absolute;left:0;-webkit-transition:all .2s ease-out;transition:all .2s ease-out
}

.flexslider .slides>li.overlay:before,.website-heading:after,.website-hover-overlay:before,.website-section.website-bg:before,.progress-bar>span:before
{
	content:""
}

.website-burger-menu i::before
{
	top:-7px
}

.website-burger-menu i::after
{
	bottom:-7px
}

.website-burger-menu:hover i::before
{
	top:-10px
}

.website-burger-menu:hover i::after
{
	bottom:-10px
}

.website-burger-menu.active i
{
	background:0 0
}

.website-burger-menu.active i::before
{
	top:0;-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)
}

.website-burger-menu.active i::after
{
	bottom:0;-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg)
}

.website-burger-menu
{
	position:absolute;top:30px;right:20px
}

.btn
{
	border:none;border-radius:4px;font-size:18px;padding:8px 15px
}

.btn:active
{
	-webkit-transition:.2s all;transition:.2s all;-webkit-transform:scale(.95);transform:scale(.95);box-shadow:none
}

.btn.btn-lg
{
	line-height:1.5;padding-top:20px;padding-bottom:20px
}

.btn.btn-primary
{
	border:2px solid #96c7f5;background:#96c7f5;color:#fff
}

.btn.btn-primary:active,.btn.btn-primary:focus,.btn.btn-primary:hover
{
	background:#67aef1;color:#fff;border:2px solid #67aef1
}

.btn.btn-primary:active,.btn.btn-primary:focus
{
	outline:0;border:2px solid #67aef1
}

.btn.btn-ghost
{
	background:0 0;border:2px solid #96c7f5;color:#96c7f5
}

.btn.btn-ghost:hover
{
	background:#96c7f5;color:#fff;border:2px solid #96c7f5
}

.btn.btn-ghost:active,.btn.btn-ghost:focus
{
	outline:0;background:0 0;color:#96c7f5;border:2px solid #96c7f5
}

.btn.btn-ghost.btn-ghost-white
{
	background:0 0;border:2px solid #fff;color:#fff
}

.btn.btn-ghost.btn-ghost-white:hover
{
	background:#fff;color:#96c7f5
}

.btn.btn-ghost.btn-ghost-white:active,.btn.btn-ghost.btn-ghost-white:focus
{
	outline:0;background:#fff;color:#96c7f5;border:2px solid #fff
}

.btn.btn-black,.btn.btn-black:active,.btn.btn-black:focus,.btn.btn-black:hover
{
	background:#000;border:1px solid #000;color:#fff
}

.btn.btn-black:active,.btn.btn-black:focus
{
	outline:0
}

.website-section
{
	padding:5em 0;position:relative;z-index:2
}

.website-section.website-section-sm
{
	padding:3em 0
}

.website-section.website-border-top
{
	border-top:1px solid rgba(0,0,0,.1)
}

.website-section.website-border-bottom
{
	border-bottom:1px solid rgba(0,0,0,.1)
}

.website-section>.container.website-border-top
{
	padding-top:50px;border-top:1px solid rgba(0,0,0,.1)
}

.website-section.website-section-colored,.website-section.website-section-dark
{
	background:#ddf0f3;background:-webkit-gradient(linear,left top,right top,from(#ddf0f3),to(#96c7f5));background:linear-gradient(to right,#ddf0f3 0,#96c7f5 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr=$firstcolor, endColorstr=$secondcolor, GradientType=1 )
}

.website-section.website-section-colored .section-heading .heading-with-icon,.website-section.website-section-colored .section-heading h2,.website-section.website-section-dark .section-heading .heading-with-icon,.website-section.website-section-dark .section-heading h2
{
	color:#fff
}

.website-section.website-section-colored .section-heading p,.website-section.website-section-dark .section-heading p
{
	color:rgba(255,255,255,.6)
}

.website-section.website-section-colored .heading-with-icon,.website-section.website-section-colored .heading-with-icon i,.website-section.website-section-dark .heading-with-icon,.website-section.website-section-dark .heading-with-icon i
{
	color:#96c7f5
}

.website-section.website-section-colored p,.website-section.website-section-dark p
{
	color:#fff
}

.website-section.website-section-dark
{
	background:#f5f5f5;color:#000
}

.website-section.website-section-dark .section-heading .heading-with-icon,.website-section.website-section-dark .section-heading h2
{
	color:#000
}

.website-section.website-section-dark .section-heading p,.website-section.website-section-dark p
{
	color:rgba(0,0,0,.6)
}

.website-section.website-bg-white
{
	background:#fff
}

@media screen and (max-width:768px)
{
	.website-section
{
	padding:3em 0
}


}

.website-section.website-bg
{
	background-size:cover;background-repeat:no-repeat
}

.website-section.website-bg:before
{
	position:absolute;background:rgba(0,0,0,.4);top:0;left:0;right:0;bottom:0
}

.website-relative
{
	position:relative
}

.website-heading
{
	position:relative;padding-bottom:20px
}

.website-heading:after
{
	position:absolute;bottom:0;left:0;width:50px;height:2px;background:#96c7f5
}

.website-owl-navigation
{
	margin:0;padding:0
}

.website-owl-navigation.absolute
{
	position:absolute;top:2px
}

@media screen and (max-width:768px)
{
	.website-owl-navigation.absolute
{
	position:relative;margin-bottom:40px
}


}

.website-owl-navigation.absolute.right
{
	right:10px
}

.website-owl-navigation.absolute.left
{
	left:0
}

.website-owl-navigation li
{
	display:inline-block;list-style:none;margin:0;padding:0
}

.website-owl-navigation li a
{
	font-size:30px;padding:0;color:#ccc
}

.website-owl-navigation li a:hover
{
	color:#333
}

.website-program h3
{
	font-size:26px;line-height:24px;margin-bottom:0
}

.website-half
{
	display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap
}

.website-half .image,.website-half .text
{
	width:50%
}

.website-half .image
{
	overflow:hidden;position:relative
}

.website-half .image .image-bg
{
	position:absolute;left:50%;top:50%;-webkit-transform:translateY(-50%) translateX(-50%);transform:translateY(-50%) translateX(-50%)
}

.website-half .image .image-bg img
{
	min-width:100%;min-height:100%
}

.website-half .text
{
	padding:100px;background:#1a1919
}

@media screen and (max-width:1000px)
{
	.website-half .image
{
	width:100%;height:200px
}

.website-half .text
{
	width:100%;padding:0px 15px;float:left
}


}

.website-half .text h3
{
	color:#fff;line-height:30px;font-size:30px;margin-bottom:30px;text-transform:uppercase;font-weight:700
}

@media screen and (max-width:768px)
{
	.website-half .text h3
{
	font-size:24px;line-height:24px
}


}

.website-half .text p
{
	font-size:18px;color:rgba(255,255,255,.5);line-height:1.5
}

.section-heading .heading-with-icon,.section-heading h2
{
	font-size:2.074em;font-weight:300
}

.lead
{
	font-size:1.125em;line-height:1.65
}

.website-footer
{
	padding:3em 0;background:#96c7f5;position:relative;color:rgba(255,255,255,.7)
}

.website-footer .website-backtotop
{
	position:absolute;top:30px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)
}

.website-footer .website-backtotop a
{
	-webkit-box-shadow:0 2px 20px 0 rgba(0,0,0,.1);box-shadow:0 2px 20px 0 rgba(0,0,0,.1);display:inline-block;zoom:1;text-align:center;background:#fff;color:#96c7f5!important;width:60px;height:60px;line-height:60px;border-radius:50%;border-bottom:none!important
}

.website-footer .website-backtotop a:active,.website-footer .website-backtotop a:focus,.website-footer .website-backtotop a:hover
{
	color:#96c7f5!important
}

.website-footer .border-top
{
	padding-top:50px;border-top:1px solid rgba(255,255,255,.2)
}

.website-footer a
{
	color:#fff!important;border-bottom:2px solid rgba(255,255,255,.2)
}

.website-footer a:hover
{
	color:#fff!important;border-bottom:2px solid #fff
}

@media screen and (max-width:768px)
{
	.website-footer
{
	padding:3em 0
}


}

.website-footer .website-footer-widget
{
	float:left;width:100%;margin-bottom:30px
}

.website-footer .website-footer-widget h4
{
	font-size:20px;margin-bottom:20px;color:#fff
}

.website-footer .website-footer-link
{
	padding:0;margin:0
}

.website-footer .website-footer-link.float
{
	float:left;margin-right:40px
}

@media screen and (max-width:992px)
{
	.website-footer .website-footer-link.float
{
	margin-top:0;margin-left:0;margin-right:40px
}


}

@media screen and (max-width:480px)
{
	.website-footer .website-footer-link.float
{
	margin-top:0;margin-left:0;margin-right:0;width:100%
}


}

.website-footer .website-footer-link li
{
	list-style:none;padding:0;margin:0
}

.website-footer .website-back-to-top
{
	text-align:right
}

@media screen and (max-width:768px)
{
	.website-footer .website-back-to-top
{
	text-align:left;margin-top:30px
}


}

.website-content-overlap
{
	margin-top:-50%
}

@media screen and (max-width:992px)
{
	.website-content-overlap
{
	margin-top:0
}


}

.website-hover-overlay
{
	position:relative;display:block;overflow:hidden;-webkit-transition:.7s all ease-out;transition:.7s all ease-out;margin-bottom:30px
}

.website-hover-overlay img
{
	position:relative;z-index:1;-webkit-transition:.3s all ease-out;transition:.3s all ease-out
}

.website-hover-overlay:before
{
	-webkit-transition:.3s all ease-out;transition:.3s all ease-out;top:0;left:0;right:0;bottom:0;position:absolute;background:rgba(0,0,0,.5);opacity:0;visibility:hidden;z-index:2
}

.website-hover-overlay .website-text-overlay
{
	position:absolute;z-index:20;left:20px;top:20px;-webkit-transition:.4s all ease-out;transition:.4s all ease-out;opacity:0;visibility:hidden
}

.website-hover-overlay .website-text-overlay h3
{
	color:#fff;margin-bottom:0;margin-top:0
}

.website-hover-overlay .website-text-overlay p
{
	color:rgba(255,255,255,.8);font-size:12px;letter-spacing:.1em;text-transform:uppercase
}

.website-hover-overlay .website-text-overlay p:last-child
{
	margin-bottom:0
}

.website-hover-overlay:hover:before
{
	opacity:1;visibility:visible
}

.website-hover-overlay:hover .website-text-overlay
{
	top:20px;opacity:1;visibility:visible
}

.website-hover-overlay:hover img
{
	-webkit-transform:scale(1.1);transform:scale(1.1)
}

.rate
{
	font-size:12px;color:#7bc74d!important
}

.rate i
{
	display:inline-block;zoom:1;margin-right:4px;margin-bottom:4px
}

.like
{
	font-size:14px;color:#999!important
}

.website-block-image
{
	background:#fff;margin-bottom:30px
}

.website-block-image figure img
{
	max-width:100%
}

.website-block-image .text
{
	padding:20px;-webkit-box-shadow:0 2px 20px 0 rgba(0,0,0,.1);box-shadow:0 2px 20px 0 rgba(0,0,0,.1)
}

.website-block-image .text .date
{
	display:block;color:#999;font-size:12px;letter-spacing:.2em;font-weight:500;text-transform:uppercase
}

.website-block-image .text h3
{
	margin:0 0 10px;font-size:20px
}

.website-block-image .text h3 a
{
	color:#000
}

.website-block-image .text h3 a:hover
{
	color:#96c7f5
}

.website-block-image .text p.dark
{
	color:#999
}

.website-block-image .text p:last-child
{
	margin-bottom:0
}

.website-blog-list,.website-news-list,.website-product-list
{
	padding:0;margin:0
}

.website-blog-list li,.website-news-list li,.website-product-list li
{
	padding:0;margin:0 0 30px;list-style:none
}

.website-blog-list li a,.website-news-list li a,.website-product-list li a
{
	color:#7e8890;display:table
}

.website-blog-list li a .website-image,.website-blog-list li a .website-text,.website-news-list li a .website-image,.website-news-list li a .website-text,.website-product-list li a .website-image,.website-product-list li a .website-text
{
	display:table-cell;vertical-align:top
}

.website-blog-list li a .website-image,.website-news-list li a .website-image,.website-product-list li a .website-image
{
	width:80px
}

.website-blog-list li a .website-image img,.website-news-list li a .website-image img,.website-product-list li a .website-image img
{
	border-radius:7px
}

.website-blog-list li a .website-text,.website-news-list li a .website-text,.website-product-list li a .website-text
{
	padding-left:20px
}

.website-blog-list li a .website-text .meta,.website-news-list li a .website-text .meta,.website-product-list li a .website-text .meta
{
	display:block;color:#ccc
}

.link-with-icon,.website-blog-list li a:hover h4,.website-news-list li a:hover h4,.website-product-list li a:hover h4
{
	color:#96c7f5
}

.website-blog-list li a .website-text h4,.website-news-list li a .website-text h4,.website-product-list li a .website-text h4
{
	font-size:18px;margin:0
}

.website-quote
{
	padding-left:0;border-left:none;font-size:inherit;font-style:italic
}

.website-quote .website-quote-logo
{
	margin-bottom:20px
}

.website-quote .website-quote-logo.uber
{
	width:50px
}

.website-quote .website-quote-logo.facebook
{
	width:80px
}

.website-quote .website-quote-logo.twitter
{
	width:25px
}

.website-quote .website-quote-author img
{
	height:40px;border-radius:50%;margin-right:20px
}

.link-with-icon i
{
	position:relative;top:2px;opacity:0;visibility:hidden;-webkit-transition:.3s all;transition:.3s all;left:-20px
}

.link-with-icon:focus,.link-with-icon:hover
{
	color:#67aef1
}

.link-with-icon:focus i,.link-with-icon:hover i
{
	position:relative;top:2px;left:0;opacity:1;visibility:visible
}

.website-pricing-wrap
{
	position:relative
}

.website-pricing
{
	background:#fff;float:left;width:100%;padding:20px;text-align:center;position:relative;z-index:2;-webkit-box-shadow:18px 17px 104px -24px rgba(0,0,0,.1);box-shadow:18px 17px 104px -24px rgba(0,0,0,.1)
}

@media screen and (max-width:992px)
{
	.website-pricing
{
	margin-top:0!important;margin-bottom:30px
}


}

.website-pricing.popular
{
	z-index:10;margin-top:-5px;padding-top:10px
}

@media screen and (max-width:992px)
{
	.website-pricing.popular
{
	margin-top:0!important
}


}

.website-pricing h3
{
	text-transform:uppercase;letter-spacing:.1em;margin-bottom:50px
}

.website-pricing h3>span
{
	margin-top:10px;display:block;letter-spacing:normal;color:#96c7f5;font-size:14px;text-transform:uppercase
}

.website-pricing .website-price-wrap
{
	margin-bottom:50px
}

.website-pricing .website-price-wrap .website-price
{
	font-size:50px;color:#96c7f5;font-weight:100;line-height:1.2;display:block
}

.website-form .form-note-link,.website-form label
{
	font-weight:400
}

.website-pricing .website-price-wrap .website-price-per-month
{
	font-size:13px
}

.website-pricing ul
{
	padding:0 30px;margin:0 0 50px
}

@media screen and (max-width:480px)
{
	.website-pricing ul
{
	padding:0 10px
}


}

.website-pricing ul li
{
	padding:0;margin:0 0 20px;line-height:24px;list-style:none
}

.heading-with-icon
{
	margin-bottom:1.5em
}

.heading-with-icon>i,.heading-with-icon>span
{
	display:table-cell;vertical-align:top
}

.heading-with-icon i
{
	color:#96c7f5;font-size:30px;position:relative;margin-right:20px;margin-bottom:10px;top:0;width:45px;display:inltial
}

.website-box
{
	background:#fff;padding:2em;margin-bottom:1.5em;-webkit-box-shadow:18px 17px 104px -24px rgba(0,0,0,.1);box-shadow:18px 17px 104px -24px rgba(0,0,0,.1)
}

.website-box .icon i
{
	font-size:50px;color:#96c7f5
}

.website-box ul
{
	padding:0;margin:0 0 0 10px
}

.website-box ul li
{
	list-style:none;padding:0;margin:0 0 10px;position:relative
}

.website-absolute
{
	position:absolute;width:100%
}

@media screen and (max-width:992px)
{
	.website-absolute
{
	position:relative
}


}

.shadow-left
{
	-webkit-box-shadow:-19px 12px 104px -24px rgba(0,0,0,.15);box-shadow:-19px 12px 104px -24px rgba(0,0,0,.15)
}

.progress
{
	background-color:#e6e5e5;height:7px;margin:0 0 10px;overflow:visible;border-radius:10px;position:relative;box-shadow:none
}

.progress-bar
{
	border:none;background-color:#96c7f5;border-radius:10px;-webkit-box-shadow:none;box-shadow:none;position:relative
}

.progress-bar>span
{
	background:#96c7f5;padding:2px 4px;font-size:10px;position:absolute;right:0;top:-32px;color:#fff
}

.progress-bar>span:before
{
	width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:7px solid #96c7f5;position:absolute;bottom:-7px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)
}

.website-footer-social
{
	padding:0;margin:0
}

.website-footer-social li
{
	display:inline;padding:0;margin:0;list-style:none
}

.website-footer-social li a
{
	padding:10px;font-size:22px
}

.website-footer-social li:first-child>a
{
	padding-left:0
}

.nav-pills.website-center,.nav-tabs.website-center
{
	text-align:center
}

.nav-pills.website-center>li,.nav-tabs.website-center>li
{
	float:none;display:inline-block;zoom:1
}

.nav-pills.website-tabs>li>a,.nav-tabs.website-tabs>li>a
{
	border-radius:0;padding:20px 30px;background:#96c7f5;color:#fff;font-size:16px;border:none!important
}

@media screen and (max-width:480px)
{
	.nav-pills.website-center>li,.nav-pills.website-tabs>li>a,.nav-tabs.website-center>li,.nav-tabs.website-tabs>li>a
{
	width:100%;display:block
}


}

.nav-pills.website-tabs>li>a:hover,.nav-tabs.website-tabs>li>a:hover
{
	background:#7fbbf3
}

.nav-pills.website-tabs>li>a:active,.nav-pills.website-tabs>li>a:focus,.nav-tabs.website-tabs>li>a:active,.nav-tabs.website-tabs>li>a:focus
{
	outline:0
}

.nav-pills.website-tabs>li.active>a,.nav-tabs.website-tabs>li.active>a
{
	background:#fff;color:#000
}

.nav-pills.website-tabs.no-border,.nav-tabs.website-tabs.no-border
{
	border-bottom:none
}

.website-tab-style-1
{
	position:absolute;bottom:1px;width:100%
}

@media screen and (max-width:768px)
{
	.website-tab-section
{
	padding-bottom:0!important
}

.website-tab-style-1
{
	position:relative
}


}

.service
{
	margin-bottom:30px;float:left;width:100%;padding:40px;border:1px solid rgba(0,0,0,.1)
}

.service .icon
{
	display:block;margin-bottom:30px
}

.service .icon i
{
	font-size:40px;color:#96c7f5
}

.service h3
{
	font-size:22px;margin-bottom:20px
}

.service p
{
	font-size:15px
}

.service.left-icon
{
	padding:0;border:none;margin-bottom:20px!important
}

.service.left-icon .icon,.service.left-icon .text
{
	display:table-cell;vertical-align:top
}

.service.left-icon .icon
{
	width:70px;position:relative;top:20px
}

.service.left-icon .icon i
{
	font-size:40px
}

.service.left-icon .text
{
	display:table-cell
}

.service.left-icon h3
{
	font-size:22px;margin-bottom:0
}

.service.left-icon p
{
	font-size:14px
}

.service.left-icon p:last-child
{
	margin-bottom:0
}

.service.hover_service
{
	-webkit-transition:.3s all;transition:.3s all
}

.service.hover_service:focus,.service.hover_service:hover
{
	-webkit-box-shadow:0 2px 20px 0 rgba(0,0,0,.1);box-shadow:0 2px 20px 0 rgba(0,0,0,.1);border:1px solid transparent
}

.website-form
{
	margin-bottom:50px
}

.website-form.website-form-box
{
	background:#fff;padding:60px;-webkit-box-shadow:18px 17px 104px -24px rgba(0,0,0,.1);box-shadow:18px 17px 104px -24px rgba(0,0,0,.1)
}

@media screen and (max-width:768px)
{
	.website-form.website-form-box
{
	padding:20px
}


}

.website-form .form-note-link a
{
	color:#bfbfbf
}

.website-form .form-note-link a:active,.website-form .form-note-link a:focus,.website-form .form-note-link a:hover
{
	color:#404040
}

.website-form .form-control
{
	height:46px;-webkit-box-shadow:none;box-shadow:none;font-size:16px;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:2px solid #e6e5e5;background:#fafafa;-webkit-transition:.3s all ease-out;transition:.3s all ease-out
}

.website-form .form-control:active,.website-form .form-control:focus
{
	-webkit-box-shadow:none;box-shadow:none;border-color:#96c7f5;background:#fff
}

.website-form textarea.form-control
{
	height:inherit;resize:vertical
}

.website-animate
{
	opacity:0;visibility:hidden
}

.website-contact-info,.with-icon
{
	padding:0;margin:0 0 30px
}

.website-contact-info li,.with-icon li
{
	padding:0;margin:20px 0 15px;list-style:none;line-height:24px;display:table
}

.website-contact-info li>i,.website-contact-info li>span,.with-icon li>i,.with-icon li>span
{
	vertical-align:top;display:table-cell
}

.website-contact-info li>i,.with-icon li>i
{
	font-size:20px;position:relative;top:4px;width:30px
}

.with-icon li i
{
	top:4px;font-size:15px
}

.with-icon.colored i
{
	color:#96c7f5
}

.website-steps
{
	padding:0;margin:0
}

.website-steps li
{
	display:table;padding:0;margin:0 0 20px;clear:both
}

.website-steps li>.number,.website-steps li>.text
{
	display:table-cell;vertical-align:top
}

.website-steps li .number
{
	width:70px;text-align:center;line-height:55px;font-size:40px;border-radius:50%;font-family:Inconsolata,monospace
}

.website-steps li .number i
{
	color:#96c7f5;width:70px!important;height:70px!important;background:#000;font-style:normal;font-weight:900;border-radius:50%;display:inline-block;zoom:1
}

.website-steps li .text
{
	padding-left:40px
}

.website-pictures
{
	position:relative
}

.website-pictures .picture-1,.website-pictures .picture-2
{
	position:absolute;max-width:800px
}

.website-pictures .picture-1
{
	left:-150px;top:0
}

.website-pictures .picture-2
{
	right:-150px;top:200px;-webkit-box-shadow:18px 17px 104px -24px rgba(0,0,0,.1);box-shadow:18px 17px 104px -24px rgba(0,0,0,.1)
}

.flexslider,.flexslider .slides>li,.slider-height
{
	height:800px
}

.flexslider
{
	position:relative;z-index:2;background:0 0;border:none;margin:0
}

.flexslider .slides>li
{
	background-size:cover;background-position:center center;background-repeat:none
}

.flexslider .slides>li.overlay:before
{
	background:rgba(0,0,0,.3);position:absolute;top:0;left:0;right:0;bottom:0
}

.flexslider .flex-control-paging
{
	position:absolute;bottom:30px;z-index:20
}

@media screen and (max-width:480px)
{
	.flexslider,.flexslider .slides>li,.slider-height
{
	height:400px
}

.flexslider .flex-direction-nav
{
	display:none
}


}

.flexslider .flex-direction-nav a
{
	text-decoration:none;display:block;width:30px;height:30px;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:10;overflow:hidden;opacity:0;cursor:pointer;color:rgba(0,0,0,.8);text-shadow:1px 1px 0 rgba(255,255,255,.3);-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;background:rgba(0,0,0,.8);border-radius:0;padding:30px
}

.flexslider .flex-direction-nav a:before
{
	font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;position:absolute;content:"\e929";-webkit-transition:.3s all;transition:.3s all;font-size:30px;display:inline-block;color:rgba(255,255,255,.8);left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)
}

.flexslider .flex-direction-nav a.flex-next:before
{
	content:"\e92a";left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)
}

.flex-direction-nav .flex-prev
{
	left:0
}

.flex-direction-nav .flex-next
{
	right:0;text-align:right
}

.flexslider:hover .flex-direction-nav .flex-prev
{
	opacity:.7;left:0
}

.flexslider:hover .flex-direction-nav .flex-prev:hover
{
	opacity:1
}

.flexslider:hover .flex-direction-nav .flex-next
{
	opacity:.7;right:0
}

.flex-control-paging li a
{
	width:30px;height:7px;display:block;background:rgba(255,255,255,.2);cursor:pointer;text-indent:-9999px;-webkit-box-shadow:none;-o-box-shadow:none;box-shadow:none;-webkit-transition:.3s all;transition:.3s all
}

.flex-control-paging li a:hover
{
	background:#333;background:rgba(255,255,255,.7)
}

.flex-control-paging li a.flex-active
{
	background:#fff;cursor:default
}

.owl-carousel
{
	margin-bottom:100px
}

.owl-carousel.border-rounded .item
{
	border:1px solid rgba(0,0,0,.1);border-radius:4px;overflow:hidden
}

.owl-carousel .owl-controls,.owl-carousel-posts .owl-controls
{
	margin-top:0
}

.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel-posts .owl-controls .owl-nav .owl-next,.owl-carousel-posts .owl-controls .owl-nav .owl-prev
{
	top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:9999;position:absolute;-webkit-transition:.2s all;transition:.2s all
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,.owl-carousel-posts .owl-controls .owl-nav .owl-prev
{
	top:24%
}

.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel-posts .owl-controls .owl-nav .owl-next
{
	right:20px
}

.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel-posts .owl-controls .owl-nav .owl-prev
{
	left:20px
}

.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i,.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i,.owl-carousel-posts .owl-controls .owl-nav .owl-next i,.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i
{
	color:#000
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i,.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i
{
	color:#fff
}

.owl-theme .owl-controls .owl-nav [class*=owl-]
{
	background:0 0!important
}

.owl-theme .owl-controls .owl-nav [class*=owl-] i
{
	font-size:24px;background:rgba(0,0,0,.7)!important;padding:12px;-webkit-transition:.5s all;transition:.5s all
}

.mfp-no-margins .mfp-container,.mfp-no-margins img.mfp-img
{
	padding:0
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:focus i,.owl-theme .owl-controls .owl-nav [class*=owl-]:hover i
{
	background:rgba(0,0,0,.7)!important
}

.owl-theme .owl-dots
{
	position:absolute;bottom:-30px;width:100%;text-align:center
}

.owl-carousel-fullwidth.owl-theme .owl-dots,.owl-work.owl-theme .owl-dots
{
	bottom:-30px;margin-bottom:-2.5em
}

.owl-theme .owl-dots .owl-dot span
{
	width:8px;height:8px;background:rgba(0,0,0,.2);-webkit-transition:.2s all;transition:.2s all;border:2px solid transparent
}

.owl-theme .owl-dots .owl-dot span:hover
{
	background:0 0;border:2px solid rgba(0,0,0,.2)
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span
{
	background:0 0;border:2px solid #000
}

.website-testimonial:before
{
	background:rgba(0,0,0,.7)!important
}

.website-testimonial .section-heading p
{
	color:rgba(255,255,255,.9)!important
}

.website-testimonial .owl-theme .owl-dots .owl-dot span
{
	background:rgba(255,255,255,.2)
}

.website-testimonial .owl-theme .owl-dots .owl-dot span:hover
{
	background:0 0;border:2px solid rgba(255,255,255,.2)
}

.website-testimonial .owl-theme .owl-dots .owl-dot.active span,.website-testimonial .owl-theme .owl-dots .owl-dot:hover span
{
	background:0 0;border:2px solid #fff
}

.mfp-fade.mfp-bg
{
	opacity:0;-webkit-transition:all .15s ease-out;transition:all .15s ease-out
}

.mfp-fade.mfp-bg.mfp-ready
{
	opacity:.8
}

.mfp-fade.mfp-bg.mfp-removing
{
	opacity:0
}

.mfp-fade.mfp-wrap .mfp-content
{
	opacity:0;-webkit-transition:all .15s ease-out;transition:all .15s ease-out
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content
{
	opacity:1
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content
{
	opacity:0
}

.image-link
{
	cursor:-webkit-zoom-in;cursor:zoom-in
}

.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg
{
	opacity:0;-webkit-backface-visibility:hidden;-webkit-transition:all .3s ease-out;transition:all .3s ease-out
}

.mfp-with-zoom.mfp-ready .mfp-container
{
	opacity:1
}

.mfp-with-zoom.mfp-ready.mfp-bg
{
	opacity:.8
}

.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg
{
	opacity:0
}

.mfp-no-margins .mfp-figure:after
{
	top:0;bottom:0
}

.mfp-title
{
	text-align:center;padding:6px 0
}

.image-source-link
{
	color:#DDD
}

.website-gutter0>div[class*=col-]
{
	padding-right:0;padding-left:0
}

@media screen and (max-width:480px)
{
	.website-gutter0>div[class*=col-]
{
	padding-right:0;padding-left:0
}

.website-gutter10>div[class*=col-]
{
	padding-right:5px;padding-left:5px
}


}

.website-gutter10>div[class*=col-]
{
	padding-right:5px;padding-left:5px
}

.website-gutter40>div[class*=col-]
{
	padding-right:20px;padding-left:20px
}

@media screen and (max-width:480px)
{
	.website-gutter40>div[class*=col-]
{
	padding-right:15px;padding-left:15px
}


}

.website-gutter60>div[class*=col-]
{
	padding-right:30px;padding-left:30px
}

.mb0
{
	margin-bottom:0!important
}

.mb10
{
	margin-bottom:10px!important
}

.mb20
{
	margin-bottom:20px!important
}

.mb30
{
	margin-bottom:30px!important
}

.mb40
{
	margin-bottom:40px!important
}

.mb50
{
	margin-bottom:50px!important
}

.mb60
{
	margin-bottom:60px!important
}

.mb70
{
	margin-bottom:70px!important
}

.mb80
{
	margin-bottom:80px!important
}

.mb90
{
	margin-bottom:90px!important
}

.mb100
{
	margin-bottom:100px!important
}

.mt0
{
	margin-top:0!important
}

.mt10
{
	margin-top:10px!important
}

.mt20
{
	margin-top:20px!important
}

.mt30
{
	margin-top:30px!important
}

.mt40
{
	margin-top:40px!important
}

.mt50
{
	margin-top:50px!important
}

.mt60
{
	margin-top:60px!important
}

.mt70
{
	margin-top:70px!important
}

.mt80
{
	margin-top:80px!important
}

.mt90
{
	margin-top:90px!important
}

.mt100
{
	margin-top:100px!important
}

.pb0
{
	padding-bottom:0!important
}

.website-black-color
{
	color:#000!important
}

.website-white-color
{
	color:#fff!important
}

.website-primary-color
{
	color:#96c7f5!important
}

.website-secondary-color
{
	color:#ddf0f3!important
}

@media screen and (max-width:768px)
{
	.owl-theme .owl-controls .owl-nav
{
	display:none
}

.img-sm-responsive,.img-xs-responsive
{
	max-width:100%
}


}

@media screen and (max-width:480px)
{
	.website-gutter60>div[class*=col-]
{
	padding-right:15px;padding-left:15px
}

.col-xxs-12
{
	float:none;width:100%
}


}
